USE [master]
GO
/****** Object:  Database [EmployeeDirectory]    Script Date: 18.08.2025 1:43:18 ******/
CREATE DATABASE [EmployeeDirectory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeDirectory', FILENAME = N'C:\Users\skamp\EmployeeDirectory.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeDirectory_log', FILENAME = N'C:\Users\skamp\EmployeeDirectory_log.ldf' , SIZE = 532480KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeDirectory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeDirectory]
GO
USE [EmployeeDirectory]
GO
/****** Object:  User [aspNetUser]    Script Date: 18.08.2025 1:43:18 ******/
CREATE USER [aspNetUser] FOR LOGIN [aspNetUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [aspNetUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [aspNetUser]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 18.08.2025 1:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 18.08.2025 1:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](150) NOT NULL,
	[FirstName] [nvarchar](150) NOT NULL,
	[Patronymic] [nvarchar](150) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[ProfilePhoto] [varbinary](max) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Id], [Name]) VALUES (1, N'IT')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (2, N'HR')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (3, N'Бухгалтерия')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
USE [master]
GO
